
<div class="board">
    <div class="column" (dragover)="onDragOver($event)" (drop)="onDrop($event,'Not Set')">
        <h2>Team Members</h2>
        <div draggable="true" (dragstart)="onDragStart(item)" *ngFor="let item of fitlerTasks('Not Set')" class="card"><small class="comment pointer">comment</small>
            <br>
            {{item.employeeName}}
        </div>
    </div>
    <div class="column" (dragover)="onDragOver($event)" (drop)="onDrop($event,'Authentication')">
        <h2>Authentication Task</h2>
        <div draggable="true" (dragstart)="onDragStart(item)" *ngFor="let item of fitlerTasks('Authentication')" class="card"><small class="comment pointer">comment</small>
            <br>
            {{item.employeeName}}
        </div>
    </div>
    <div class="column" (dragover)="onDragOver($event)" (drop)="onDrop($event,'Landing Page')">
        <h2>Landing Page Task</h2>
        <div draggable="true" (dragstart)="onDragStart(item)" *ngFor="let item of fitlerTasks('Landing Page')" class="card"><small class="comment pointer">comment</small>
            <br>
            {{item.employeeName}}
        </div>
    </div>
</div>