<div class="form-container">

    <div class="form">
        <h2 class="center">Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" class="">
            <!-- email -->
            <mat-form-field appearance="fill" class="input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" type="email" name="email" formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')">Please enter a valid email
                    address</mat-error>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <!-- buttons -->
            <span routerLink="/login" class="span"> Login</span>
            <div class="buttons center">
                <button mat-raised-button [disabled]="forgotPasswordForm.invalid" (click)="sendForgotEmail()"
                    color="primary">
                    Send
                </button>

            </div>
        </form>
    </div>
</div>