<div class="full-height flex center-center">
    <div class="height-90 full-width gap-1 flex">
        <div class="flex gap-1 column">
            <div class="flex gap-1">
                <mat-card class="card flex center-center">
                    <mat-card-content class="width-80 column gap-1">
                        <h5 *ngIf="!projects.length">There are currently no projects yet {{projects}}</h5>
                        <div *ngIf="projects.length" class="flex column gap-1">
                            <p class="">{{projects}} projects</p>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card flex center-center">
                    <mat-card-content class="width-80 flex column gap-1">
                        <h5 *ngIf="!user.length">There are currently no users yet {{users}}</h5>
                        <div *ngIf="users.length" class="flex column gap-1">
                            <p class="">{{users}} projects</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- <mat-card class="round-card">
            <mat-card-content>Today's appointments</mat-card-content>
          </mat-card> -->
    </div>
</div>