<div class="main-container padding-05em relative flex column gap-1em">
    <!-- <mat-spinner id="spinner" class="absolute"></mat-spinner> -->
    <div class="flex a-center j-center relative">
        <div class="flex a-center gap-1em">
            <h2 class="no-margin text-center">{{viewedProject.projectName | titlecase}}</h2>
            <mat-icon (click)="editProject()" class="color-blue pointer">edit</mat-icon>
        </div>
        <img class="project-health absolute"
            src="https://support.teamwork.com/desk/file/10638282/project health options.gif" alt="">
    </div>
    <div class="tasks flex column">
        <div class="teamMembers">
            <div class="flex column">
                <div class="flex gap-1em">
                    <div class="flex a-center gap-1em">
                        <h2 class="no-margin color-blue assignHeading">Assign Tasks</h2>
                        <button *ngIf="hasChangedAssignments" (click)="saveTaskAssignments()" mat-raised-button
                            color="primary" class="color-white pointer">Save</button>
                    </div>
                    <div class="flex gap-1em a-center">
                        <h3 (click)="seeProjectTasks()" class="tasks-list pointer">Tasks List</h3>
                        <div (click)="addNewTask()" class="add-container pointer flex center-center">
                            <mat-icon>add</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="board">
                        <div class="column-cont" (dragover)="onDragOver($event)" (drop)="onDrop($event,'Not Set')">
                            <h2>Team Members</h2>
                            <div draggable="true" (dragstart)="onDragStart(item)"
                                *ngFor="let item of fitlerTasks('Not Set')" class="card"><small
                                    class="comment pointer">comment</small>
                                <br>
                                {{item.employeeName | titlecase}}
                            </div>
                        </div>
                        <div class="column-cont" (dragover)="onDragOver($event)"
                            (drop)="onDrop($event,'Register Page')">
                            <h2>Register Page Task</h2>
                            <div draggable="true" (dragstart)="onDragStart(item)"
                                *ngFor="let item of fitlerTasks('Register Page')" class="card"><small
                                    class="comment pointer">comment</small>
                                <br>
                                {{item.employeeName | titlecase}}
                            </div>
                        </div>
                        <div class="column-cont" (dragover)="onDragOver($event)"
                            (drop)="onDrop($event,'Login Page Duplicate')">
                            <h2>Login Page Duplicate Task</h2>
                            <div draggable="true" (dragstart)="onDragStart(item)"
                                *ngFor="let item of fitlerTasks('Login Page Duplicate')" class="card"><small
                                    class="comment pointer">comment</small>
                                <br>
                                {{item.employeeName | titlecase}}
                            </div>
                        </div>
                    </div>
                    <div class="actions flex column space-between">
                        <div class="flex column gap-1em">
                            <div class="flex column gap-05em">
                                <div class="flex j-end">
                                    <p class="no-margin">Project Health</p>
                                </div>
                                <button mat-raised-button [matMenuTriggerFor]="menu"
                                    [class]="viewedProject.projectHealth === 'Not Set' ? 'color-unset-health': viewedProject.projectHealth === 'Good' ? 'color-good':
                                viewedProject.projectHealth === 'Needs Attension' ? 'color-need-attension': 'color-at-risk'">{{viewedProject.projectHealth}}</button>
                                <mat-menu class="absolute" #menu="matMenu">
                                    <button mat-menu-item (click)="changeHealth(health)"
                                        *ngFor="let health of projectHealths">{{health}}</button>
                                </mat-menu>
                            </div>
                            <div class="flex column gap-05em">
                                <div class="flex j-end">
                                    <p class="no-margin">Status</p>
                                </div>
                                <div [matMenuTriggerFor]="statusMenu" title="Change status" class="project-status flex center-center pointer">{{viewedProject.status | titlecase}}
                                </div>
                                <mat-menu class="absolute" #statusMenu="matMenu">
                                    <button mat-menu-item (click)="changeStatus(status)"
                                        *ngFor="let status of projectStatuses">{{status}}</button>
                                </mat-menu>
                            </div>
                            <button (click)="downloadSpreadsheet()" mat-stroked-button color="primary">
                                <mat-icon>download</mat-icon>
                                Download
                                Report</button>
                        </div>
                        <div class="flex gap-1em">
                            <div class="flex column gap-1em">
                                <p class="no-margin">Start Date</p>
                                <h4 class="no-margin">{{viewedProject.startDate | date}}</h4>
                            </div>
                            <p class="no-margin">/</p>
                            <div class="flex column gap-1em">
                                <p class="no-margin">End Date</p>
                                <h4 class="no-margin">{{viewedProject.endDate | date}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>