<div class="main-container padding-05em relative flex column gap-1em">
    <!-- <mat-spinner id="spinner" class="absolute"></mat-spinner> -->
    <div class="flex a-center j-center relative">
        <div class="flex a-center gap-1em">
            <h2 class="no-margin text-center">{{viewedProject.projectName | titlecase}}</h2>
            <mat-icon (click)="editProject()" class="color-blue pointer">edit</mat-icon>
        </div>
        <img class="project-health absolute"
            src="https://support.teamwork.com/desk/file/10638282/project health options.gif" alt="">
    </div>
    <div class="tasks flex column">
        <div class="teamMembers">
            <div class="flex column">
                <div class="flex a-center gap-1em">
                    <h2 class="no-margin color-blue assignHeading">Assign Tasks</h2>
                    <button *ngIf="hasChangedAssignments" (click)="saveTaskAssignments()" mat-raised-button
                        color="primary" class="color-white pointer">Save</button>
                </div>
                <div class="flex">
                    <div cdkDropListGroup>
                        <div class="example-container">
                            <h3>Team Members</h3>
                            <div cdkDropList [cdkDropListData]="usersList" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let user of usersList" class="example-box gap-2em" cdkDrag>
                                    <p class="no-margin">{{user.firstName | titlecase}}</p>
                                    <p class="no-margin">{{user.lastName | titlecase}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="example-container">
                            <div class="flex gap-1em a-center">
                                <h3 (click)="seeProjectTasks()" class="tasks-list pointer">Tasks List</h3>
                                <div (click)="addNewTask()" class="add-container pointer flex center-center">
                                    <mat-icon>add</mat-icon>
                                </div>
                            </div>
                            <div cdkDropList [cdkDropListData]="tasksList" (cdkDropListDropped)="drop($event)"
                                class="example-list">
                                <div *ngFor="let task of tasksList; track task" class="example-box" cdkDrag>
                                    {{task.taskTitle | titlecase}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="actions flex column space-between">
                        <div class="flex column gap-1em">
                            <div class="flex column gap-05em">
                                <div class="flex j-end">
                                    <p class="no-margin">Project Health</p>
                                </div>
                                <button mat-raised-button [matMenuTriggerFor]="menu"
                                    [class]="viewedProject.projectHealth === 'Not Set' ? 'color-unset-health': viewedProject.projectHealth === 'Good' ? 'color-good':
                                viewedProject.projectHealth === 'Needs Attension' ? 'color-need-attension': 'color-at-risk'">{{viewedProject.projectHealth}}</button>
                                <mat-menu class="absolute" #menu="matMenu">
                                    <button mat-menu-item (click)="changeHealth(health)"
                                        *ngFor="let health of projectHealths">{{health}}</button>
                                </mat-menu>
                            </div>
                            <div class="flex column gap-05em">
                                <div class="flex j-end">
                                    <p class="no-margin">Completion</p>
                                </div>
                                <button mat-stroked-button
                                    [color]="pendingProjectTasksCount === projectTasksCount ? 'primary': 'warn'"
                                    [disabled]="pendingProjectTasksCount !== projectTasksCount">{{pendingProjectTasksCount}}/{{projectTasksCount}}
                                    <mat-icon>tasks</mat-icon>Tasks</button>
                            </div>
                            <button (click)="downloadSpreadsheet()" mat-stroked-button color="primary">
                                <mat-icon>download</mat-icon>
                                Download
                                Report</button>
                        </div>
                        <div class="flex gap-1em">
                            <div class="flex column gap-1em">
                                <p class="no-margin">Start Date</p>
                                <h4 class="no-margin">{{viewedProject.startDate | date}}</h4>
                            </div>
                            <p class="no-margin">/</p>
                            <div class="flex column gap-1em">
                                <p class="no-margin">End Date</p>
                                <h4 class="no-margin">{{viewedProject.endDate | date}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>