$blue: blue;

.main-container {
    padding: 1em;

    .project {
        width: 249px;
        height: 210px;
        background-color: ghostwhite;

        .status {
            position: absolute;
            left: 9px;
            top: 6px;
            padding: 5px;
            border-radius: 7px;
            background-color: $blue;
            color: white;
        }

        .project-health {
            position: absolute;
            height: 45px;
            right: 9px;
            width: 45px;
            bottom: 7px;
            border-radius: 50%;
        }
    }

    .project-name {
        font-size: larger;
        font-weight: 500;
    }

    .add {
        background-color: $blue;
        padding: 14px;
        border-radius: 50%;
    }

    .no-projects {
        font-size: x-large;
    }
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.color-unset-health {
    background-color: #cbcbcb;
}

.color-good {
    background-color: #8dc252;
}

.color-at-risk {
    background-color: #fec02f;
}

.color-need-attension {
    background-color: #f2453d;
}

.mdc-card {
    display: flex;
    flex-direction: row !important;
    position: relative;
}