<div class="mat-card padding-2em">
    <div class="main-container flex column gap-1em">
        <div class="flex gap-1em a-center">
            <h1 class="no-margin">Projects</h1>
            <div (click)="addProject()" class="add flex center-center pointer">
                <mat-icon class="color-white">add</mat-icon>
            </div>
        </div>
        <mat-card class="project-container padding-10px gap-1em">
            <p *ngIf="!hasAddedProjects" class="no-margin no-projects color-red">0 project added.</p>
            <mat-card (click)="showProject(project)" *ngFor="let project of managerProjects" class="project pointer relative flex center-center">
                <p class="no-margin">{{project.projectName | titlecase}}</p>
                <div class="status">
                    <p class="no-margin">{{project.status | titlecase}}</p>
                </div>
            </mat-card>
        </mat-card>
    </div>
</div>