<div class="mat-card">
    <div class="main-container flex column gap-1em">
        <div class="flex gap-1em a-center">
            <h1 class="no-margin">Projects</h1>
            <div (click)="addProject()" class="add flex center-center pointer">
                <mat-icon class="color-white">add</mat-icon>
            </div>
        </div>
        <div class="flex-1 flex gap-1em">
            <p *ngIf="!hasAddedProjects" class="no-margin no-projects color-red">0 project added.</p>
            <mat-card (click)="showProject(project)" *ngFor="let project of managerProjects"
                class="project pointer relative flex center-center">
                <p class="no-margin project-name">{{project.projectName | titlecase}}</p>
                <div class="status">
                    <p class="no-margin">{{project.status | titlecase}}</p>
                </div>
                <div [title]="project.projectHealth" class="project-health" [class]="project.projectHealth === 'Not Set' ? 'color-unset-health': project.projectHealth === 'Good' ? 'color-good':
                project.projectHealth === 'Needs Attension' ? 'color-need-attension': 'color-at-risk'">
                </div>
            </mat-card>
        </div>
    </div>
</div>