.padding-2em {
    padding: 2em;
}

.main-container {
    .project {
        width: 249px;
        height: 210px;

        .status {
            position: absolute;
        }
    }

    .add {
        background-color: blue;
        padding: 14px;
        border-radius: 50%;
    }
}

.color-white {
    color: white;
}