<div class="container">
    <div class="info-half">
    </div>
    <div class="form-half">
        <h1 class="">Profile</h1><br>

        
        <div class="flex column gap1em padding-1em full-width">
            <span><b class="title">ID :</b> {{user.id}}</span>
            <span><b class="title">Name :</b>{{user.lastName}} {{user.firstName}} </span>
            <span><b class="title">Gender :</b> {{user.gender}} </span>
            <!-- <span><b class="title">Mobile Number :</b> {{user.phoneNumber}}</span> -->
            <span><b class="title">Email :</b> {{user.email}}</span>
            <span><b class="title">Role :</b> {{user.role}}</span>
            <button mat-raised-button color="warm" (click)="changePassword()"><mat-icon class="icons5"
                    aria-hidden="false" aria-label="Example home icon" fontIcon="lock"></mat-icon>Change
                Password</button>

        </div>
    </div>
</div>