<div class=" flex center-center">
    <mat-card>
        <mat-card-content>
            <h1 class="title ">User Details</h1>

            <div class="flex center-center gap1em">
                <div class="profile-img flex column">
                    <img src="../../../assets/profileImage/images.png" alt="">

                </div>
                <div class="profile-details">
                    <p><b class="title">ID :</b>{{user.id}}</p>
                    <p><b class="title">Name :</b>{{user.name}}</p>
                    <p><b class="title">Gender :</b>{{user.gender}} </p>
                    <p><b class="title">Mobile Number :</b>{{user.phoneNumber}}</p>
                    <p><b class="title">Email :</b>{{user.email}}</p>
                    <p><b class="title">Role :</b>{{user.role}}</p>
                </div>
            </div>
            <button mat-raised-button color="warm" (click)="changePassword()">Change Password</button>

        </mat-card-content>
    </mat-card>
</div>