.main-container {
    padding: 10px;

    .close {
        right: 13px;
        top: -13px;
        font-size: x-large;
    }

    form {
        .err-msg {
            padding-left: 21px;
            padding-top: 3px;
        }

        .textarea-container {
            height: 175px;

            textarea {
                padding: 14px;
                border-radius: 5px;
                border: 1px solid #8e8e8e;
            }

            textarea {
                &:focus {
                    outline: none;
                }
            }

        }
    }
}

.m-t-1em {
    margin-top: 1em;
}

.color-red {
    color: red;
}

.hide {
    display: none;
}